.details-container svg {
  margin: 0.4em;
  font-size: large;
}

.details-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 0 1em;
  color: #fefefe;
  margin-bottom: 1em;
}

.details-content > img {
  width: 40%;
  height: 170px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.right h3 {
  font-size: larger;
}

.details {
  font-size: medium;
  line-height: 1.5;
  font-weight: 600;
}

.border p {
  display: flex;
  gap: 5px;
  align-items: baseline;
  font-size: medium;
  line-height: 1.5;
  font-weight: 600;
}

.border a {
  color: #fefefe;
  font-size: small;
}

.border a:hover {
  background-color: #fe146d;
}
