.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  background-color: #fe146d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

svg {
  color: #fef6fa;
  font-size: medium;
}

.home h2 {
  color: #fef6fa;
  font-size: large;
  padding: 0;
  margin: 0;
}
